/**** **** SASS RESET **** ***/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: inherit;
  border: 0;
  border-radius: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  background-repeat: none;
  background-position: 0 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="submit"],
textarea,
button,
select,
option {
  appearance: none;
  -webkit-appearance: none;
  resize: none;
  border: 0;
  background: none;
}

a,
button,
label,
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
.pointer {
  cursor: pointer;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: oblique;
}

ul {
  li {
    margin: 0 0 25px 22px;
  }
}

/**** SUPERSCRIPT ****/
sup {
  font-family: "Arial", "helvetica", sans-serif;
  position: relative;
  top: -1em;
  color: inherit;
  font-size: 60%;
  line-height: 0;

  span {
    top: 0.25em;
    position: relative;
    font-size: 150%;
  }
}

/**** RESET MENU LIST ****/
menu {
  @include no_bullet;
}

/**** GRID ****/
.section,
.section-full-width {
  display: grid;

  @include mobile {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }
  @include desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

  &.no-gap {
    gap: 0;
  }
}

@include mobile {
  @include grid(6, mobile);
}

@include desktop {
  @include grid(12, desktop);
}

@include tablet-sm-only {
  @include grid(12, tablet-sm-only);
}
