@import "../../../sass-boilerplate/helper.scss";

.section__understanding-user {
  background: $brand_copy;

  @include mobile {
    padding: 40px 0;
  }
  @include desktop {
    padding: 60px 0;
  }

  h2,
  p {
    color: $brand_cultured;
  }

  h2 {
    @include mobile {
      text-align: center;
    }
  }

  .material-symbols-rounded {
    margin: auto;
    border-radius: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $brand_cultured;

    @include mobile {
      width: 82px;
      height: 82px;
      font-size: 48px;
    }

    @include desktop {
      width: 108px;
      height: 108px;
      font-size: 48px;
    }
  }
}

.feature__item {
  padding: 25px 25px 15px 25px;
  background: $brand_white;

  > .material-symbols-rounded,
  > div {
    margin: auto;
    width: 63px;
    height: 63px;
    border-radius: 100%;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: $brand_cultured;
    background: $brand_copy;
  }

  h3 {
    margin: 35px 0;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
