@import "../../../sass-boilerplate/helper.scss";

.splide {
  margin-bottom: $spacing__section;
}

.splide {
  position: relative;

  .carousel__content {
    padding-top: 60px;
    width: 100%;
    display: block;
    background: $brand_copy;

    @include mobile {
      min-height: 500px;
    }
    @include desktop {
      min-height: 600px;
    }

    section {
      @include defaultLayout;
      overflow: hidden;
    }
  }

  .splide__pagination {
    bottom: 20px;
  }
}
