@import "../../../sass-boilerplate/helper.scss";

.section-full-width {
  position: relative;
  left: 50%;
  margin-bottom: $spacing__section;
  transform: translateX(-50%);
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
}
