@import "./sass-boilerplate/helper.scss";

html,
body {
  background: $brand_cultured;
}

#root {
  overflow: hidden;
}

/**** TYPOGRPAHY ****/
body,
p,
li {
  @include Copy(400, 16, 16);
  color: $brand_copy;
}
p {
  @include mobile {
    margin-bottom: $spacing__p--mobile;
  }
  @include desktop {
    margin-bottom: $spacing__p--desktop;
  }
}
h1 {
  @include Heading(700, 35, 60);
  text-transform: uppercase;
}
h2 {
  @include Heading(700, 28, 35);
  color: $brand_independence;

  @include mobile {
    margin-bottom: $spacing__h2--mobile;
  }
  @include desktop {
    margin-bottom: $spacing__h2--desktop;
  }
}
h3 {
  @include SubHeading(500, 18, 18);
  text-transform: uppercase;
}
h4 {
  @include Heading(700, 17, 19);
  margin-bottom: 18px;
  color: $brand_independence;

  @include mobile {
    margin-bottom: $spacing__h4--mobile;
  }
  @include desktop {
    margin-bottom: $spacing__h4--desktop;
  }
}

/**** SECTION ****/
.section,
.subpage-hero .subpage-hero__content {
  @include defaultLayout;
}
