/**** BRAND COLORS ****/
$brand_primary: #ff0036;
$brand_secondary: #00b4ff;
$brand_tertiary: #34aa00;

$brand_dark: #000;
$brand_copy: #2b2b4b;
$brand_independence: #6e6e82;
$brand_cool: #8e8da1;

$brand_cultured: #f4f4f4;
$brand_platinum: #ebebeb;
$brand_white: #fff;
$brand_border: #e0e0e0;

/**** MAX WIDTH ****/
$max-width--site: 1728px;
$max-width--content: 1204px;

/**** VIEWPORT ****/
$mq__mobile--sm: 375;
$mq__mobile: 600;
$mq__tablet--sm: 900;
$mq__tablet: 1250;
$mq__desktop: 1440;

/**** INPUT ICONS ****/
$hideFileUpload: false;
$preventIosStyling: false;
$hideNumberSpin: false;
$hideCalendarIcon: false;
$hidePasswordEye: false;
